[name='color-0']{
    background-color: white;
    border-color: white;
}

[name='color-1']{
    background-color: aquamarine;
    border-color: aquamarine;
}
[name='color-2']{
    background-color: blue;
    border-color: blue;
}
[name='color-3']{
    background-color: orangered;
    border-color: orangered;
}
[name='color-4']{
    background-color: darkmagenta;
    border-color: darkmagenta;
}
[name='color-5']{
    background-color: goldenrod;
    border-color: goldenrod;
}
[name='color-6']{
    background-color: powderblue;
    border-color: powderblue;
}
[name='color-7']{
    background-color: coral;
    border-color: coral;
}
[name='color-8']{
    background-color: cadetblue;
    border-color: cadetblue;
}
[name='color-9']{
    background-color: mediumseagreen;
    border-color: mediumseagreen;
}