body{
    background-color: #000;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
*{
    margin: 0;
    padding:0;
}
div{
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    background-color: white;
    opacity: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 100ms;
}
div:not(.light-up){
    transition: opacity 600ms;
}


div.quick-flash{
    transition: opacity 50ms;
}
div.quick-flash:not(.light-up){
    transition: opacity 300ms;
}

div.slow-flash{
    transition: opacity 100ms;
}
div.slow-flash:not(.light-up){
    transition: opacity 1000ms;
}



.r{
    width: 20vw;
    height: 20vw;
    top: 27%;
    left: 30%;
}
.c{
    width: 20vw;
    height: 20vw;
    top: 73%;
    left: 30%;
}
.e{
    width: 10vw;
    height: 10vw;
    top: 27%;
    left: 30%;
}
.x{
    width: 10vw;
    height: 10vw;
    top: 73%;
    left: 30%;
}
.g{
    width: 30vw;
    height: 30vw;
    top: 50%;
    left: 50%;

}
.h{
    width: 30vw;
    height: 30vw;
    top: 50%;
    left: 50%;

}
.t{
    width: 18vw;
    height: 18vw;
    top: 35%;
    left: 50%;
}
.v{
    width: 18vw;
    height: 18vw;
    top: 65%;
    left: 50%;
}
.y{
    width: 25vw;
    height: 25vw;
    top: 0%;
    left: 50%;
}
.b{
    width: 25vw;
    height: 25vw;
    top: 100%;
    left: 50%;
}
.u{
    width: 20vw;
    height: 20vw;
    top: 27%;
    left: 70%;
}
.n{
    width: 20vw;
    height: 20vw;
    top: 73%;
    left: 70%;
}
.i{
    width: 10vw;
    height: 10vw;
    top: 27%;
    left: 70%;
}
.m{
    width: 10vw;
    height: 10vw;
    top: 73%;
    left: 70%;
}

/* dots */
.f{
    width: 12vw;
    height: 12vw;
    top: 50%;
    left: 27%;
}
.d{
    width: 8vw;
    height: 8vw;
    top: 50%;
    left: 14%;
}
.s{
    width: 4vw;
    height: 4vw;
    top: 50%;
    left: 5%;
}
.j{
    width: 12vw;
    height: 12vw;
    top: 50%;
    left: 73%;
}
.k{
    width: 8vw;
    height: 8vw;
    top: 50%;
    left: 86%;
}
.l{
    width: 4vw;
    height: 4vw;
    top: 50%;
    left: 95%;
}

.q{
    background-color: transparent !important;
    border: solid 10vw white;
    width: 90vw;
    height: 90vw;
    top: 50%;
    left: 50%;
}
.w{
    background-color: transparent !important;
    border: solid 11vw white;
    width: 64vw;
    height: 64vw;
    top: 50%;
    left: 50%;
}
.o{
    background-color: transparent !important;
    border: solid 9vw white;
    width: 42vw;
    height: 42vw;
    top: 50%;
    left: 50%;
}
.p{
    background-color: transparent !important;
    border: solid 4vw white;
    width: 32vw;
    height: 32vw;
    top: 50%;
    left: 50%;
}


.light-up{
    opacity: 1;
}
